@tailwind base;
@tailwind components;
@tailwind utilities;

.noScrollbar::-webkit-scrollbar {
  width: 0px;
}

.maskAvatar {
  -webkit-mask-image: url("/images/Mask.svg");
  mask-image: url("/images/Mask.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  aspect-ratio: 1/1;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #05223b 55%, #214965);
}

body::-webkit-scrollbar-thumb {
  background-color: #a7dbf2;
  border-radius: 5vmax;
}

html, body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    #376380 80%,
    #214965 100%
  );
  color: white;
}
/* WebKit-based browsers (Chrome, Safari, Opera) */
.table-container::-webkit-scrollbar {
  height: 10px; /* Height of the scrollbar */
}

.table-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb (the draggable part) */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

/* Firefox */
.table-container {
  scrollbar-width: thin; /* Scrollbar width in Firefox */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color in Firefox */
}