.exploreMainDiv {
    border-radius: 15px;
    background-color: #05223B;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  
  .exploreMainDiv::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: 30%;
    left: -35%;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
  }
  
  .exploreMainDiv:hover::before {
    width: 140px;
    height: 140px;
    top: -10%;
    left: 100%;
    filter: blur(0rem);
  }

  .pulsate {
    box-shadow: 0px 2px 2px 0px rgba(0, 23, 43, 0.3);
    border-radius: 50%;
    animation: pulsate 4s infinite;
  }

  @keyframes pulsate {
    0% {
      box-shadow: 0 0 10px rgba(0, 23, 43, 0.3);
    }
    50% {
      box-shadow: 0 0 20px #fff;
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 23, 43, 0.3);
    }
  }
  