.exploreMainDiv {
    width: 400px;
    height: 320px;
    border-radius: 15px;
    background: linear-gradient(45deg, #11334D 50%, #214965 100%);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  
  .exploreMainDiv::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10%;
    left: -20%;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
  }
  
  .exploreMainDiv:hover::before {
    width: 140px;
    height: 140px;
    top: -30%;
    left: 50%;
    filter: blur(0rem);
  }
  