.modal-bg {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    #11334d 80%,
    #214965 100%
  );
}

.btnSave {
  background-color: #5e9cbf;
}

.btn-bd {
  border: none;
  color: #fff;
  background-image: linear-gradient(45deg, #11334D, #5E9CBF);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

.btn-bd:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #5E9CBF;
  }

  70% {
    box-shadow: 0 0 0 8px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.marginModal {
  margin: 8rem 0rem !important;
}
