.searchBox {
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
}

.searchShineWidthOfcHour {
  width: 400px;
}

.searchShineWidthOfAVSs {
    width: 400px;
}
  
.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #1A1A1A 0%, #11334D 50%, #5E9CBF 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.searchButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

.searchButton:active {
    box-shadow: none;
    transform: translateY(0);
}
  
.searchInput {
    width: 400px;
    overflow: visible;
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 18px;
    padding: 24px 46px 24px 26px;
}

.iconExplore {
    width: 1.8rem;
    margin: auto;
    height: auto;
}