.shineFont {
    font-weight: 600;   
    font-size: 2.1rem;
    /* margin-left: 0.8rem; */
    color: transparent;
    background: linear-gradient(
      to left,
      #A7DBF2,
      #5E9CBF,
      #427FA3,
      #A7DBF2,
      #5E9CBF,
      #A7DBF2
    );
    background-size: 1000px 100%;
    animation: bg 25s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
}

.shineFontOfcHours {
  margin-left: 0rem;
}

@keyframes bg {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 10000px;
    }
}